bin/
obj/
data/
modules/
resources/*
!resources/proton-client
!resources/proton-server
resources/proton-client/*
resources/proton-server/*
resources/proton-ui/*
!resources/proton-client/resource.toml
!resources/proton-server/resource.toml
!resources/proton-ui/resource.toml
!resources/proton-client/fonts
server.log
altv-crash-handler
altv-server
altv-voice-server
AltV.Net.Host.dll
AltV.Net.Host.runtimeconfig.json
.server-crashes-cache/
cache/
.vs/
.idea/
update.json
*.exe